<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="LaunchApplication">
		<classes>
			<class name="com.orangeHrm.modules.BrowserOperations"></class>
		</classes>
	</test> <!-- Test -->
	<test name="OrangeHRM_Login">
		<classes>
			<class name="com.orangeHrm.modules.LoginIntoApplication"></class>
		</classes>
	</test> <!-- Test -->
	<test name="OrangeHRM_CreateJobVacancy">
		<classes>
			<class name="com.orangeHrm.modules.AddVacancies"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
